<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:fragment="head">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Favorite Icons -->
    <link rel="icon" type="image/jpg" th:href="@{/favicon-16x16.jpg}" sizes="16x16" />
    <link rel="icon" type="image/jpg" th:href="@{/favicon-32x32.jpg}" sizes="32x32" />
    <link rel="icon" type="image/jpg" th:href="@{/favicon-96x96.jpg}" sizes="96x96" />

    <!-- WebJars Version -->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>



    <link href="../resources/css/styles.css"
          th:href="@{/resources/css/styles.css}" rel="stylesheet" media="screen"/>

</head>
<body>

</body>
</html>
