<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="pageTitle">Welcome to myCalendar!</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/messages :: messages"></th:block> /*/-->

    <p>Chapter 01.00: Below you can find some highlights about myCalendar. Each sample will have a slightly different summary depending on what has been done.</p>
    <p>Below you can find some highlights about myCalendar. Each chapter will have a slightly different summary depending on what will be done.</p>
    <ul>
        <li><a id="eventsLink" th:href="@{/events/}">All Events</a> - shows all events for all users. Once secured, this will only be viewable by administrators.</li>
        <li><a id="myEventsLink" th:href="@{events/my}">My Events</a> - shows all events that user1@example.com is the owner or attendee. Once we apply security only a logged in user
            will be able to view this page. Additionally, the logged in user will be used rather than always using user1@example.com</li>
        <li><a id="createEventLink" th:href="@{events/form}">Create Event</a> - will allow creating a new Event with user1@example.com as the owner. Once we add security, only a logged in
            user will be able to view this page. Additionally, the logged in user will be the owner rather than always using user1@example.com.</li>
        <li>
            <a id="h2Link" th:href="@{admin/h2/}" target="_blank">H2 Database Console</a> - Allows you to interact with the database using a web console. To use it:
            <ul>
                <li>Click the link above.</li>
                <li>Ensure that Generic H2 (Embedded) is selected</li>
                <li>Ensure that org.h2.Driver is the Driver Class</li>
                <li>Enter <strong>jdbc:h2:mem:dataSource</strong> as the JDBC URL</li>
                <li>Ensure that the username is sa</li>
                <li>Ensure the password is left empty</li>
                <li>Click Connect</li>
            </ul>
        </li>
    </ul>

</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>
